<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tonysquash-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tonysquash-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tonysquash-test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tonysquash-test</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QuoteApp.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=&quot;csc-web.cloudapp.net, 1433&quot;;Initial Catalog=QuoteApp;Persist Security Info=True;User ID=sa;Password=2DotsBlack" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QuoteApp.Models.ApplicationDbContext, QuoteApp" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DatabaseContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tst-reka.red-gate.com\SQL2012;Initial Catalog=QuoteApp;User ID=sa;Password=Peruzzi1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DatabaseContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tst-reka.red-gate.com\SQL2012;Database=QuoteApp;Uid=sa;Password=Peruzzi1;MultipleActiveResultSets=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuoteApp.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source="csc-web.cloudapp.net, 1433";Initial Catalog=QuoteApp;Persist Security Info=True;User ID=sa;Password=2DotsBlack</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="QuoteApp.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>