@{ Layout = null;}
<div id="footerDiv">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-lg-2"><img class="img-responsive" src="~/Content/Images/EnglandSquash.jpg"></div>
            <div class="col-lg-8" style="text-align: center">
                Mr A G Gay<br />
                Approved by England Squash<br />
                VAT REG NO: 650 727831
            </div>
            <div class="col-lg-2"><img class="img-responsive" src="~/Content/Images/Armourcoat.JPG"></div>
        </div>
    </div>
</div>
