@model QuoteApp.Database.Work.WorkFromView
@{ Layout = null;}

<div id="headerDiv">
    <div class="form-horizontal" style="margin-top: 50px;">
        <div class="form-group">
            <div class="col-lg-2"><img class="img-responsive" src="~/Content/Images/TonySquashHeader.png"></div>
            <div class="col-lg-8" style="text-align: center">
                Tony Gay<br />
                SCPS<br />
                18 Ransome Close<br />
                Cambridge<br />
                CB4 1WH
            </div>
            <div class="col-lg-2" style="text-align: right">
                07 771 631 876<br />
                tonysquash@mac.com<br />
                www.tonysquash.com
            </div>
        </div>
    </div>
    <hr class="header-hr" />
    <div id="referencesDiv" style="font-size: 20px; font-family: Georgia">
        <div class="col-md-3 col-md-offset-9">
            <table style="font-weight: bold; border:none;">
                <tr>
                    <td style="text-align: right; width: 40%; padding-right: 10px;">Ref #: </td>
                    <td>@Model.QuoteRef</td>
                </tr>
                <tr>
                    <td style="text-align: right; padding-right: 10px;">Date: </td>
                    <td>@Model.QuoteDate</td>
                </tr>
            </table>
        </div>
    </div>
</div>

