@{ Layout = null;}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <style>
        .col-md-3 {
            width: 25%;
        }

        .col-md-offset-9 {
            margin-left: 75%;
        }

        .col-lg-2 {
            width: 16.66666667%;
        }

        .middle {
            width: 50%;
        }

        .col-lg-8 {
            width: 66.66666667%;
        }

        .col-lg-10 {
            width: 83.33333333%;
        }
    </style>

</head>
<body>
    <div class="form-horizontal" id="footerDiv">
        <hr />
        <div class="form-group">
            <div class="col-md-3" style="float: left"><img class="img-responsive" src="~/Content/Images/EnglandSquash.jpg"></div>
            <div class="middle" style="text-align: center; float: left">
                Mr A G Gay<br />
                Approved by England Squash<br />
                VAT REG NO: 650 727831
            </div>
            <div class="col-md-3" style="float: left"><img class="img-responsive" src="~/Content/Images/Armourcoat.JPG"></div>
        </div>
    </div>
</body>
