@model QuoteApp.Models.WorkViewModel

    <h4>Add new work</h4>
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-lg-2">
                @Html.HiddenFor(m => m.WorkAreaId)
                <input class="form-control" id="workMainType" placeholder="E.g. Flooring">
            </div>
            <div class="col-lg-2">
                @Html.TextBoxFor(m => m.WorkName, new { @class = "form-control", placeholder = "Sand floor" })
            </div>
            <div class="col-lg-4">
                @Html.TextBoxFor(m => m.WorkDescription, new { @class = "form-control", placeholder = "Type the description..." })
            </div>
            <div class="col-lg-1">
                @Html.TextBoxFor(m => m.WorkPrice, new { @class = "form-control", placeholder = "300" })
            </div>
            <div class="col-lg-1">
                <input type="submit" onclick="createWork();" class=" btn btn-success" id="submitButton" value="Add" disabled="disabled" />
            </div>

        </div>
    </div>


    
