@model IEnumerable<QuoteApp.Database.Work.Work>
    
<table class="table">
    <tr>
        <th>
            Work type
        </th>
        <th>Work name</th>
        <th>Work description</th>
        <th>Price</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkArea.WorkAreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDescription)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.WorkPrice)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.WorkId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkId })*@
            </td>
        </tr>
    }

</table>

