@model IEnumerable<QuoteApp.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"><img class="img-responsive media-object" src="~/Content/Images/TonySquashHeader.png"></div>
            <div class="col-md-8">Some longer intro text</div>
            <div class="col-md-2">Contact details</div>
        </div>
        
    </div>
</body>
<h2>Index</h2>


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jspdf.debug.js"></script>
<script type="text/javascript">
    var doc = new jsPDF();

    // We'll make our own renderer to skip this editor
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    // All units are in the set measurement for the document
    // This can be changed to "pt" (points), "mm" (Default), "cm", "in"
    doc.fromHTML($('body').get(0), 15, 15, {
        'width': 170,
        'elementHandlers': specialElementHandlers
    });

</script>